
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="/scss/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="center-container">
		<div class="main">
			<h1 class="w3layouts_head">Event Team Registration</h1>
				<div class="w3layouts_main_grid">
					<form action="/event-reg" method="post" class="w3_form_post" enctype="multipart/form-data">
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Event Team Name </label>
								<input type="text" name="eventName" placeholder="Team Name" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Email </label>
								<input type="text" name="email" placeholder="Your Email" required="">
								<input type="text" name="permission" value="false"  required="" hidden>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Password</label>
								<input type="password" name="password" placeholder="Your Password" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Phone Number </label>
								<input type="text" name="phone" placeholder="Phone Number" required="">
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>District </label>
								<select name="district">
									<li><option value="">District</option></li>
                                    <li><option value="tvm">Trivandrum</option></li>
									<li><option value="kollam">Kollam</option></li>
									<li><option value="kottayam">Kottayam</option></li>
									<li><option value="alappuzha">Alappuzha</option></li>
									<li><option value="pathanamthitta">Pathanamthitta</option></li>
									<li><option value="idukki">Idukki</option></li>
									<li><option value="ernakulam">Ernakulam</option></li>
									<li><option value="thrissur">Thrissur</option></li>
									<li><option value="palakkad">Palakkad</option></li>
									<li><option value="malappuram">Malappuram</option></li>
									<li><option value="kozhikode">Kozhikode</option></li>
									<li><option value="wayanad">Wayanad</option></li>
									<li><option value="kannur">Kannur</option></li>
									<li><option value="kasaragod">Kasaragod</option></li>
								</select>
							</span>
						</div>
					
					<div class="content-w3ls">
						<div class="form-w3ls">
							<div class="content-wthree2">
								<div class="grid-w3layouts1">
									<div class="w3-agile1">
										<label>Food Category</label>
										<ul>
											<li>
												<input type="radio" value="veg" id="a-option" name="food">
												<label for="a-option">Veg </label>
												<div class="check"></div>
											</li>
											<li>
												<input type="radio" value="non-veg" id="b-option" name="food">
												<label for="b-option">Non-veg</label>
												<div class="check"><div class="inside"></div></div>
											</li>
											<li>
												<input type="radio" id="c-option" value="both" name="food">
												<label for="c-option">Both</label>
												<div class="check"><div class=""></div></div>
											</li>
										</ul>
									</div>	
									<label style="margin-top: 20px;" for="">image</label>
									<input type="file" name="image">
									<br>
									<label style="margin-top: 20px;" for="">Your Work Photo</label>
									<input type="file" name="wrk1">
									<br>
									<label style="margin-top: 20px;" for="">Your Work Photo</label>
									<input type="file" name="wrk2">
									<br>
									<label style="margin-top: 20px;" for="">Your Work Photo</label>
									<input type="file" name="wrk3">
									<br>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
						<div class="w3_main_grid_right">
							<a style="color: white;margin-left: 180px;" href="/event-login">Event login?</a>
						</div>
					</div>
				</form>
								
			</div>
		<!-- Calendar -->
		
					
		<!-- //Calendar -->
		</div>
	</div>
<!-- //footer -->
</body>
</html>