<link rel="stylesheet" href="/csss/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="/csss/font-awesome.min.css"><!--fontawesome-css--> 
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



<div style="margin-top: 39px;margin-left: 500px;" class="container headerright-w3ls">
			<div  style="margin-top: 40px;"  class="register-w3ls">
				<h3>register</h3>
			</div>
			<form action="/signup" method="post">
				<div class="name-w3ls">
					<span><i class="fa fa-user" aria-hidden="true"></i></span>
					<input type="text" name="Username" placeholder="name" required="">
				</div>
				<div class="mail-w3ls">
					<span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
					<input type="email" name="email" placeholder="email" required="">
				</div>
				<div class="password-w3ls">
					<span><i class="fa fa-unlock" aria-hidden="true"></i></span>
					<input type="password" name="password" placeholder="password" required="">
				</div>
				<div class="signup-w3ls">
					<input type="submit" value="sign up">
				</div>
			</form>
			<div class="forgot-w3ls">
					<p><a href="/login">Have an account?</a></p>
				</div>
		</div>